= render "/diaries/header"
.Notebook
  .Notebook__content 
    %p.Notebook__content__text Daily Planner
    = form_with(model: @assessment,url: diary_assessments_path, local: true )do |f|
      .Notebook__content__taskbox
        %p.Notebook__content__taskbox--text Task Box
        .Notebook__content__taskbox--field
          .taskbox_field
            = f.check_box :checkbox1
            = @diary.taskbox1
            - binding.pry
          .taskbox_field
            = f.check_box :checkbox2
            = @diary.taskbox2
          .taskbox_field
            = f.check_box :checkbox3
            = @diary.taskbox3
          .taskbox_field
            = f.check_box :checkbox4
            = @diary.taskbox4
          .taskbox_field
            = f.check_box :checkbox5
            = @diary.taskbox5
          .taskbox_field
            = f.check_box :checkbox6
            = @diary.taskbox6
          .taskbox_field
            = f.check_box :checkbox7
            = @diary.taskbox7
          .taskbox_field
            = f.check_box :checkbox8
            = @diary.taskbox8
          .taskbox_field
            = f.check_box :checkbox9
            = @diary.taskbox9
          .taskbox_field
            = f.check_box :checkbox10
            = @diary.taskbox10
      .Notebook__content__diary
        %p.Notebook__content__diary--text Diary
        .Notebook__content__diary--field
          .diary-date
            = simple_format(@diary.diary) 
      .Notebook__content__date
        .date
        = @diary.date
        .Notebook__content__date__submit
        = f.submit "登　録", class:"submit"
