= render "/diaries/header"
.Target
  .Target__content
    %p.Target__content__text 目標作成
    %span.Target__content__target Write your goals
    = form_with(model: @target, local: true )do |f|
      .Target__content__fild
      =f.text_area :target, class:"target-text", placeholder:"目標を記入"
      .Target__content__edit
        = f.submit "変　更", class:"edit"
        %span or
        = link_to '削　除', target_path(@target.id),method: :delete ,class:"dalete"
        %span or
        = link_to 'もどる', "/",class:"dalete"