= render "header"
.Main
  .Main__image
    .Main__image--text 
      = link_to current_user.nickname, "#page", class: "Main__image--text--nickname"
      %span.Main__image--text--text 's diary
.Primary
  .Primary__box
    .Primary__box__target 目標
    .Primary__box__target--text 
      - if @target.present?
        = render 'targets/index'
      - else
        %span.text 目標を作成してください！
    = link_to((new_target_path),class:'Primary__box__target--link') do
      .Primary__box__target--btn 目標作成
  #page
  .Primary__block
    .Primary__block__diary D i a r y
    %ul.Primary__block__diary--list
      - @diaries.each do |diary|
        %li.list 
          = link_to diary_path(diary.id),class:"diary-link" do
            = diary.date
.Footer
  .Footer__text My life diary
= link_to(new_diary_path) do
  .Diary
    %span.Diary__text 予定作成
    = image_tag 'diary.jpeg', size: '185×50' ,class:'Diary__image'

